<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {max-width: 560px;}
</style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>작품 상세</h2>
    </div>

    <div>
        <label for="title">작품명</label>
        <input type="text" id="title" name="title" class="form-control"
               value="제목A" th:value="${literature.title}" readonly>
    </div>
    <div>
        <label for="author">작가</label>
        <input type="text" id="author" name="author" class="form-control"
               value="작가" th:value="${literature.author}" readonly>
    </div>
    <div>
        <label for="plot">내용</label>
        <textarea id="plot" name="plot" class="form-control"
               th:text="${literature.plot}" rows="20" readonly>내용</textarea>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='literatures.html'"
                    th:onclick="|location.href='@{/basic/literatures}'|" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>